<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <title>Control de contactos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    
    {% block css %}{% endblock %}
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Contact Control</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacts' %}">Contactos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'countries' %}">Países</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'filter_countries' %}">Contactos por país</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Dasbhoard</a>
                </li>
            </ul>
            
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 mt-4">

                
                <div class="jumbotron">
                    <h1 class="display-4 text-center">{% block title %} Contact Control {% endblock title%}</h1>
                    <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                        featured content or information.</p> -->
                    <hr class="my-4">
                    {% block body %}
                    <div class="row">
                        <div class="col-md-6 offset-md-3 mt-4">
                            <a href="{% url 'contacts' %}" class="btn btn-primary btn-lg btn-block">
                                <i class="fas fa-user"></i> Contactos
                            </a>
                            <a href="{% url 'countries' %}" class="btn btn-dark btn-lg btn-block">
                                <i class="fas fa-globe"></i> Países
                            </a>

                            <a href="{% url 'filter_countries' %}" class="btn btn-success btn-lg btn-block">
                                <i class="fas fa-users"></i> Contactos por país
                            </a>

                            <a href="{% url 'dashboard' %}" class="btn btn-warning btn-lg btn-block">
                                <i class="fas fa-chart-pie"></i> Dashboard
                            </a>

                        </div>

                    </div>
                    {% endblock body %}
                </div>
                
            </div>
            
        </div>

    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>

</html>