{% extends 'base.html' %}

{% block title %}<i class="far fa-user "></i> Contactos {% endblock title %}

{% block css %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
<link rel="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap4.min.css">
{% endblock %}

{% block body %}


<table class="table table-bordered display" id="table-contacts">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">País</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.last_name }}</td>
                <td>{{ contact.country }}</td>
                <td>{{ contact.email }}</td>
            </tr>
        {% endfor %}
       
        
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">País</th>
            <th scope="col">Email</th>
        </tr>
    </tfoot>
    
</table>

<div class="text-center">
    <a class="btn btn-dark" href="{% url 'filter_countries' %}"> 
        <i class="fas fa-arrow-left"></i> Atrás
    </a>
</div>

{% endblock body %}


{% block scripts %}

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap4.min.js"></script>


<script>
    $(document).ready(function () {
        $('#table-contacts').DataTable({
            dom: 'Bfrtip',
            responsive: true,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });

</script>
{% endblock %}