{% extends 'base.html' %}

{% block title %}<i class="fas fa-globe"></i> Países {% endblock title %}


{% block css %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
<link rel="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap4.min.css">
{% endblock %}


{% block body %}

<div class="pt-4 pb-4 text-right">
    <a class="btn btn-bg btn-primary" href="{% url 'create_country' %}" rel="noopener noreferrer">
        <i class="fas fa-plus-circle"></i>
        Crear</a>
</div>

<table class="table table-bordered " id="table-countries">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Administrar</th>
        </tr>
    </thead>
    <tbody>
        {% for country in object_list %}
            <tr>
                <td>{{ country.name }}</td>
                <td>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    
                
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Administrar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="{% url 'update_country' country.id %}"><i class="far fa-edit "></i> Editar</a>
                            <a class="dropdown-item" href="{% url 'delete_country' country.id %}"><i class="far fa-trash-alt "></i> Eliminar</a>
                        </div>
                    </div>
                </div>
                </td>
            </tr>
        {% endfor %}
       
    </tbody>
</table>
    
<div class="text-center">
    <a class="btn btn-dark" href="{% url 'index' %} ">
        <i class="fas fa-arrow-left"></i> Atrás
    </a>
</div>
{% endblock body %}


{% block scripts %}
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap4.min.js"></script>


<script>
    $(document).ready(function () {
        $('#table-countries').DataTable({
            dom: 'Bfrtip',
            responsive: true,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });

</script>
{% endblock %}