{% extends 'base.html' %}

{% block title %}<i class="fas fa-chart-pie"></i> Dashboard {% endblock title %}

{% block css %}

{% endblock %}


{% block body %}

<div class="row pb-4">
    <div class="col-lg-4 text-center">
        <p><em>Contactos Registrados</em></p>
        <h1>{{ total_contacts }}</h1>
    </div>
    <div class="col-lg-4 text-center">
        <p><em>Paises Registrados</em></p>
        <h1>{{ total_countries }}</h1>
    </div>
    <div class="col-lg-4 text-center">
        <p><em>Usuarios en Sistema</em></p>
        <h1>{{ users_system }}</h1>
    </div>
</div>



<div class="row">
    <div class="col-lg-6">
        <canvas id="myChart" width="100%" height="75"></canvas>
    </div>
    <div class="col-lg-6">
        <canvas id="myChart2" width="100%" height="75"></canvas>
    </div>
</div>


<div class="text-center pt-5">
    <a class="btn btn-dark" href="{% url 'index' %} ">
        <i class="fas fa-arrow-left"></i> Atrás
    </a>
</div>


{% endblock body %}




{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var ctx2 = document.getElementById('myChart2').getContext('2d');

    $(document).ready(function () {
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels_contacts | safe }},
                datasets: [{
                    label: 'Contactos registrados',
                    data: {{ data_contacts | safe }},
                    backgroundColor: [
                        'rgba(255, 159, 64, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 255, 1)',
                        'rgba(50, 159, 64, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(215, 206, 86, 1)',
                        'rgba(75, 12, 192, 1)',
                        'rgba(153, 12, 255, 1)',
                        'rgba(255, 15, 64, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 255, 1)',
                        'rgba(50, 159, 64, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(215, 206, 86, 1)',
                        'rgba(75, 12, 192, 1)',
                        'rgba(153, 12, 255, 1)',
                        'rgba(255, 15, 64, 1)',
                    ],
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });





        var myChart = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: {{ labels_country | safe }},
                datasets: [{
                    label: '# of Votes',
                    data: {{ data_country | safe }},
                    backgroundColor: [
                        'rgba(255, 159, 64, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 255, 1)',
                        'rgba(50, 159, 64, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(215, 206, 86, 1)',
                        'rgba(75, 12, 192, 1)',
                        'rgba(153, 12, 255, 1)',
                        'rgba(255, 15, 64, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 255, 1)',
                        'rgba(50, 159, 64, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(215, 206, 86, 1)',
                        'rgba(75, 12, 192, 1)',
                        'rgba(153, 12, 255, 1)',
                        'rgba(255, 15, 64, 1)',
                    ]
                }]
            },
            
        });
    });
</script>

{% endblock %}