{% extends 'base.html' %}

{% block title %} <i class="far fa-trash-alt "></i> Eliminar País {% endblock title %}
{% block body%}
<h1 class="text-center">¿Desea eliminar el país {{object.name}} {{object.last_name}}?</h1>

<form action="" method="POST" class="text-center">
    {% csrf_token %}
    <a class="btn btn-primary" href="{% url 'contacts' %}">Cancelar</a>
    <button class="btn btn-danger" type="submit" name="button">Confirmar</button>
    
</form>
{% endblock%}