{% extends 'base.html' %}

{% block title %}<i class="fas fa-users"></i> Contactos por país {% endblock title %}

{% block body %}


    <div class="list-group text-center">
        {% for country in countries %}
            <a href="{% url 'contacts_country' country.id%}" class="list-group-item list-group-item-action ">{{ country.name }}</a>
        {% endfor %}
    </div>
    <div class="text-center mt-4">
        <a class="btn btn-dark" href="{% url 'index' %}">
            <i class="fas fa-arrow-left"></i> Atrás
        </a>
    </div>

{% endblock body %}

   