{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {% if form.name.value %}
        <i class="far fa-edit "></i> Editar país 
    {% else%}
        <i class="fas fa-plus-circle "></i> Crear país
    {% endif %}
{% endblock title %}

{% block body %}



<form method="POST">
    {% csrf_token %}
    {{ form | crispy }}

    <div>
        <a href="{% url 'countries' %}" class="btn btn-dark">
            <i class="fas fa-arrow-left"></i> Contactos
        </a>
        <button class="btn btn-primary float-right" type="submit">
            <i class="fas fa-save"></i> Guardar
        </button>
    </div>
</form>



{% endblock body %}